
   <p>
    <b>Author:</b>
    <%= comment.author %>
    </p>

    <p>
      <b>Content:</b>
      <%= comment.content %>
    </p>

    <p>
      <b>Date:</b>
      <%= comment.date %>
    </p>
    <p>

    <% if current_user.try(:admin?) %>
    <%= link_to 'Destroy Comment', [comment.review, comment],
               :confirm => 'Are you sure?',
               :method => :delete %>
    <% end %>

    </p>
    <p>
